body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 2.5em;
}

h1:hover {
    text-decoration-style: none;
}

.img-unique {
    height: 250px;
    object-fit: cover;
    margin-top: 1em;
}

.logo-fleur {
    height: 10vh;
}