.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }

.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#formulaire-contact {
    background-color: beige;
    border: 1px solid beige;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 5%;
}

#titre-contact {
    padding: 0px 3px;
    font-weight: bold;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
}

#body-contact {
    margin: 0;
    padding: 0;
    background: url(assets/img/background-contact.png) no-repeat center fixed;
    background-size: cover;
}

.bouton-envoyer {
    float: right;
}